@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #25092c;
  --secondary: #9be8a1;
  --lovelypink: #fe8daa;
  --binance_black: #070707;
  --binance_ash: #a6979c;
  --binance_yellow: #fcd535ff;
  --binance_white: #eaecefff;
  --binance_green: #14cb85ff;
  --binance_brightash: rgb(140, 169, 199);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes writingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.company_description .company .animatedText {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 0; /* This will be animated to show the text */
  animation: writingEffect 2.5s steps(40, end) forwards; /* 5s is the animation duration, adjust as needed */
}

.company_description .company .animatedText::after {
  content: "|";
  position: absolute;
  /* left: 0; */
  animation: blinkingCursor 1s infinite;
  animation-duration: 2.5s;
  opacity: 0.3;

  animation-fill-mode: both; /* Ensures that the animation properties are retained after the animation ends */
}

@keyframes blinkingCursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bord {
  border: 1px solid red;
}
